/*
 * Happychat - Dark Mode
 * https://hud.happychat.io
 * Version: 2.0 alpha, Unminified-NonVariable
 *
 * Author: Sudipto Mondal
 * Modified: Kyle Nel
 */

/** Original Selection Colours

::selection {
  color: #ffffff;
  background: #31bbda;
}

::-moz-selection {
  color: #ffffff;
  background: #31bbda;
}

*/

::selection {
  color: #ffffff;
  background: #9586A3;
}

::-moz-selection {
  color: #ffffff;
  background: #9586A3;
}

body {
    background: #2b303e;
    color: #cae4f5;
    font-weight: 600;
}

/* LOGIN BOX */
.login {
    background: #565f78;
    border-radius: 5px;
}

/* GLOBAL BUTTONS */
.button, button {
    background: #b6cedd;
    border-color: #849cac;
    color: #3c6683;
}

/* PRIMARY BLUE BUTTON */
.button.is-primary, button.is-primary {
    background: #55c9e2;
    border-color: #2892a8;
}


/* ------------------ START LEFT SIDEBAR ------------------ */

/* LEFT SIDEBAR */
.chat__chat-queue {
    background: #3f465a;
    border-right: 0;
}

/* LEFT SIDEBAR - operator status borders: */
/* └ 1. blue */
.container__operator-status__reserve .chat__chat-queue {
    border-left: 8px solid #31bbda;
}

/* └ 2. yellow */
.container__operator-status__busy .chat__chat-queue {
    border-left: 8px solid #f3cb47;
}

/* └ 3. red */
.container__operator-status__unavailable .chat__chat-queue {
    border-left: 8px solid #f06060;
}

/* LEFT SIDEBAR - chat status indicator texts */
.action-bar a, .capacity__stats-item {
    color: #d5e8f1;
}

/* LEFT SIDEBAR chatlist - chat selected */
.chat-list__item.is-selected, .chat-list__item.is-selected:hover {
    background: #7c8aa2;
}

/* LEFT SIDEBAR chatlist - chat hover */
.chat-list__item:hover {
    background: #677085;
}

/* LEFT SIDEBAR - OPERATOR: status dots */
/* └ 0. green */
.operators.operators__available:before {
    background: #63d9b0;
}

/* └ 1. blue */
.operators.operators__reserve:before {
    background: #31bbda;
}

/* └ 2. yellow */
.operators.operators__busy:before {
    background: #f3cb47;
}

/* └ 3. red */
.operators.operators__unavailable:before {
    background: #f06060;
}

/* LEFT SIDEBAR - OPERATOR: status dots border */
.operators.operators:before {
    border: 2px solid #52596e;
}

/* LEFT SIDEBAR - OPERATOR: image border */
.operators img {
    border: 2.5px solid #87a6bc;
}

/* LEFT SIDEBAR - OPERATOR: total capacity bar */
.operators__capacity-bar {
    border-radius: 50px;
    background: #ddf1ff;
}

/* LEFT SIDEBAR - OPERATOR: current capacity bar */
.operators__capacity {
    background: #87acc6;
}

/* LEFT SIDEBAR - HAPPYCHAT CAPACITY STATS BUBBLE */
.capacity__stats-bubble {
    padding: 2px 6px;
}

/* LEFT SIDEBAR - HAPPYCHAT CAPACITY STATS BUBBLE: available */
.capacity__stats-bubble.available {
    background-color: #63d9b0;
    border: none;
    color: rgba(0,0,0,0.8);
}

/* LEFT SIDEBAR - HAPPYCHAT CAPACITY STATS BUBBLE: reserve */
.capacity__stats-bubble.reserve {
    background: #31bbda;
    border: none;
    color: rgba(0,0,0,0.8);
}

/* ------------------ END LEFT SIDEBAR ------------------ */



/* ------------------ START MID CHAT AREA ------------------ */

/* MID CHAT AREA: ACTIVE CHAT BACKGROUND */
.chat__current-chat {
    background: #35394b;
}

/* MID CHAT AREA: OPERATOR CHAT MESSAGE BUBBLE */
.chat__message .chat__message__text {
    background: #00e0c2;
    background: -moz-linear-gradient(-50deg, #00c4b6 0%,#0993c1 71%,#0993c1 100%);
    background: -webkit-linear-gradient(-50deg, #00c4b6 0%,#0993c1 71%,#0993c1 100%);
    background: linear-gradient(145deg, #00b7ac 0%,#0993c1 71%,#0993c1 100%);
    border-radius: 40px;
    padding: 22px 30px;
    border-bottom-right-radius: 0;
    font-size: 13.5px;
}

/* └ OPERATOR CHAT MESSAGE BUBBLE - pointer */
.chat__message .chat__message__text:after {
    border-bottom: 21px solid #0993c1;
    border-right: 21px solid transparent;
    right: -12px;
}


/* MID CHAT AREA: USER CHAT MESSAGE BUBBLE */
.chat__message.chat__message__from-user .chat__message__text {
    background: #51576e;
    color: rgba(255, 255, 255, 0.56);
    border-radius: 34px;
    padding: 18px 28px 15px 28px;
    border-bottom-left-radius: 0;
}

/* └ USER CHAT MESSAGE BUBBLE - pointer */
.chat__message.chat__message__from-user .chat__message__text:after {
    border-bottom: 21px solid #51576e;
    border-left: 21px solid transparent;
    left: -12px;
}

.chat__message__from-user .chat__message__star {
    right: 20px;
    bottom: 15px;
}

.chat__message__from-operator .chat__message__star {
    right: 12px;
    bottom: 10px;
}

/* MID CHAT AREA - STARTED MESSAGE - star color */
.chat__message .starred {
    color: #ffcd45;
}

/* MID CHAT AREA - USER TYPING INDICATOR */
.chat__message.chat__message__type-event .chat__message__text {
    background: transparent; /*#646b88;*/
    padding: 5px 8px; /* new +1 */
    border-radius: 16px;
}

.chat__message.chat__message__type-typing .chat__message__text .chat__message__typing-bubble>span {
    color: #ffffff;
}

/* MID CHAT AREA - ACTIVE CHAT TEXTBOX */
.chat-actions__current-chat-action-compose {
    background: #6e748b;
    border: none;
    height: 180px;
}

/* └ ACTIVE CHAT TEXTBOX - border fix */
.chat__current-chat__actions {
    background: transparent;
    border-top: none;
    height: 180px;
}

/* └ ACTIVE CHAT TEXTBOX - text color */
.chat__current-chat__actions textarea {
    color: #ffffff;
    height: 176px;
}

/* └ ACTIVE CHAT TEXTBOX - onfocus highlight */
.chat-actions__current-chat-action-compose>textarea:focus {
    box-shadow: 0 0 0 2px #a6acc7;
}

/* MID CHAT AREA - CLOSED CHAT TEXTBOX */
.chat__current-chat__actions.is-closed .chat-actions__current-chat-action-compose textarea::-webkit-input-placeholder, .chat__current-chat__actions textarea::-webkit-input-placeholder {
    color: #9b9faf;
    font-style: italic;
}

/* └ CLOSED CHAT TEXTBOX - color */
.chat__current-chat__actions.is-closed .chat-actions__current-chat-action-compose {
    background: #4a4e63;
}

/* └ CLOSED CHAT TEXTBOX - border fix */
.chat__current-chat__actions.is-closed {
    background: #4a4e63;
    border-top: none;
}

/* MID CHAT AREA - DISCONNECTED CHAT TEXTBOX - border fix */
.container__socket__is_disconnected .chat__current-chat__actions {
    background: #4a4e63;
}

/* MID CHAT AREA - NEW MESSAGE NOTICE */
.chat-panel__unread-messages-notice {
    background: #26c396;
    right: auto;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    bottom: 35px;
    left: 35px;
    box-shadow: 0px 8px 50px -8px #26c396;
}

/* └ UNREAD MESSAGES NOTICE: arrow icon*/
.chat-panel__unread-messages-notice:before {
    content: '▼';
    margin-right: 8px;
    margin-left: -5px;
}

/* MID CHAT AREA - CHAT SEND BUTTON */
.chat__current-chat__actions button {
    background: #5eb4cf;
    border-radius: 30px;
    padding: 11px;
}

/* MID CHAT AREA - CHAT TOOLBAR */
.chat-toolbar {
    background: #79809d;
    border: none;
}

/* └ CHAT TOOLBAR - items. EG: ALL, BOOKMARKS, NOTES selected bottom color and text color */
.chat-toolbar__menu-item.is-selected {
    color: #6ce8ff;
    border-color: #6ce8ff;
}

/* └ CHAT TOOLBAR - items, normal text color*/
.chat-toolbar__menu-item {
    color: #c7d0f6;
}

/* MID CHAT AREA - CHAT INFOBAR(below toolbar) */
.chat-info {
    background: #656b86;
    /*border-bottom: 5px solid #35394b;*/
    border: 0;
    box-shadow: 0px 14px 40px -15px rgba(0,0,0,0.6);
}

/* └ CHAT INFOBAR - link colors */
.chat-info__details div a {
    color: #6ce8ff;
}

/* └ CHAT INFOBAR - opeators indicator */
.capacity__operators p {
    color: #c7d0f6;
}

/* └ CHAT INFOBAR - operators border */
.operators.is-horizontal.operators:before {
    border-color: #868da6;
}

/* └ CHAT INFOBAR - CHAT GROUP INDICATOR. EG: en, WPcom badge */
.chat-info__group-badge, .chat-info__locale-badge {
    background: #a2abd1;
    color: #ffffff;
}

/* MID CHAT AREA - CHAT NOTE */
.chat__message.chat__message__type-note .chat__message__text {
    background: #545a71;
    color: #a6aab8;
    padding: 25px 28px; /* new +1 */
    border-radius: 20px;
}

/* └ CHAT NOTE - pointer */
.chat__message.chat__message__type-note .chat__message__text:after {
    /*new*/
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 35px 35px;
    border-style: solid;
    border-color: #35394b #777b8d;
}

/* └ CHAT NOTE - note title */
.chat__message.chat__message__type-note .chat__message__text:before { /* new all*/
    content: 'Chat Note:';
    display: table;
    font-weight: bold;
    background: #1cbba4;
    color: #116a5d;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 20px;
    margin-bottom: 12px;
}

/* MID CHAT AREA - AUTOCOMPLETE(the area that appears for "/" commands) */
/* └ AUTOCOMPLETE: title/toolbar */
.auto-complete__toolbar {
    background: #b8bfd8;
    color: rgba(0, 0, 0, 0.7);
    height: 35px;
    padding: 3px 6px;
}

/* └ AUTOCOMPLETE: content area below the toolbar */
.auto-complete {
    border: none;
    background: #868da6;
    color: #ffffff;
}

/* └ AUTOCOMPLETE: tag description text color */
.auto-complete__list.is-tags-list .auto-complete__item .auto-complete__item-label {
    color: #6eede6;
}

/* └ AUTOCOMPLETE: item hover/selected background */
.auto-complete__item.is-selected {
    background: #48506a;
}

/* └ AUTOCOMPLETE: group title background */
.auto-complete__group {
    background: #677085; /*#6a7087*/
    border: none;
}

/* MID CHAT AREA - CHAT SESSION: links */
.session__header-links a {
    color: #6ce8ff;
}

/* MID CHAT AREA - CHAT SESSION: seperator border */
.session__header:after {
    background: #747a96;
}

/* MID CHAT AREA - message sent on closed chat indicator */
.chat__message.chat__message__type-message-on-closed .chat__message__text blockquote {
    background: #b3bacf;
}

/* MID CHAT AREA - message from user link colors */
.chat__message.chat__message__from-user .chat__message__text a, .chat__message.chat__message__type-customer-info .collapsable-section__label {
    color: #6ce8ff;
}

/* MID CHAT AREA - chat ended notifier */
.chat__message.chat__message__type-chat-close .chat__message__text {
    background: #e9a546;
}

/* MID CHAT AREA - chat tagged notifier */
.chat__message.chat__message__type-tagged .chat__message__text {
    background: #30afac;
}

/* MID CHAT AREA - chat error notifier */
.chat__message.chat__message__type-error .chat__message__text {
    background: #e85a5a;
}

/* MID CHAT AREA - TAG SUGGESTIONS AREA */
.tag-suggestions__content {
    border: none;
    background: rgba(190, 205, 233, 0.18);
    padding: 12px 0;
    border-radius: 6px;
}

/* └ TAG SUGGESTIONS AREA: title */
.tag-suggestions__title {
    color: rgba(190, 205, 233, 0.8);
}

/* └ TAG SUGGESTIONS AREA: tag item */
.tag-suggestions__item {
    background: #30afac;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 2px 10px 4px 8px;
}

/* └ TAG SUGGESTIONS AREA: tag item hover */
.tag-suggestions__item:hover {
    background: #1da29e;
}

/* ------------------ END MID CHAT AREA ------------------ */



/* ------------------ START RIGHT SIDEBAR ------------------ */

/* RIGHT SIDEBAR */
.chat__current-chat-meta {
    background: #52596e;
}

/* RIGHT SIDEBAR - border remove */
.chat__chat-panel {
    border: none;
}

/* RIGHT SIDEBAR - easy selects */
.easy-select { /* new all */
    color: rgba(255, 255, 255, 0.44);
    border-bottom: 2px dashed rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 15px;
    padding: 4px 10px;
}

/* RIGHT SIDEBAR - USER PANEL: upgrades list background */
.user-upgrades-items__item {
    background: #79809d; /*#7983a0*/
    border: none;
    border-radius: 10px; /* new */
}

/* RIGHT SIDEBAR - USER PANEL: USER PANEL: label text */
.user-panel-items__item-label {
    color: #c7d0f6; /*#bac7ec*/
}

/* └ ADD USER NOTE: link color */
a.user-data-panel__notes__add {
    color: #38e4cb;
}

/* RIGHT SIDEBAR - USER PANEL: ADD USER NOTE: user note */
.user-data-panel__user-notes__item {
    background: #1cbba4;
}

/* └ ADD USER NOTE: fold */
.user-data-panel__user-notes__item:before {
    border-color: #52596e #10917f;
}

/* RIGHT SIDEBAR - USER PANEL: - activity log */
.user-log-panel__messages {
    border: none;
    background: #79809d; /*#7983a0*/
    border-radius: 4px;
}

/* RIGHT SIDEBAR - USER PANEL: support history links */
.user-data-panel__support-history a {
    color: #6ce8ff;
}

/* RIGHT SIDEBAR - USER PANEL: collapsible notification circle */
.collapsable-section__preview {
    background: #42b1c5;
}

/* RIGHT SIDEBAR - USER PANEL: OPENED TICKETS */
.user-data-panel__user-notes__item.user-data-panel__user-notes__error {
    background: #e96c6c;
}

/* └ OPENED TICKETS: fold */
.user-data-panel__user-notes__item.user-data-panel__user-notes__error:before {
    border-color: #52596e #bd4d4e;
}

/* RIGHT SIDEBAR - BLOG PANEL: blog title */
.user-blog-panel__url a {
    color: #6ce8ff;
}

/* RIGHT SIDEBAR - BLOG PANEL: blog details */
.user-panel-items__item-label a, .user-panel-items__item-content a {
    color: #6ce8ff;
}

/* ------------------ END RIGHT SIDEBAR ------------------ */



/* ------------------ START MODAL WINDOW ------------------ */

/* WELCOME MODAL WINDOW */
.modal__welcome {
    background: #4a5474;
}

/* MODAL WINDOW OVERLAY */
.modal {
    background: rgba(42, 48, 75, 0.58);
}

/* MODAL WINDOW DIALOG */
.modal__dialog {
    background: #4a5374;
    padding: 25px;
    border-radius: 12px;
}

/* MODAL WINDOW CLOSE ICON */
.modal__dialog .modal__header svg {
    color: #ddf1ff;
}

/* MODAL WINDOW KEYBOARD SHORTCUTS */
.keyboard-shortcuts__list .keyboard-shortcuts__shortcut span, .preferences__tab-bar>div {
    border: 1px solid #717a98;
}

/* MODAL WINDOW TAB CONTENT BORDERS 1 */
.preferences__group-settings tbody td, .preferences__locale-settings tbody td, .preferences__locale-settings tbody th, .skills__options-item, .preferences__preference-item-input {
    border-top: 1px solid #717a98;
}

/* MODAL WINDOW TAB CONTENT BORDERS 2 */
.preferences__preference-item-input:last-of-type {
    border-bottom: 1px solid #717a98;
}

/* PREFERENCES WINDOW TAB SELECTED */
.preferences__tab-bar>div.selected {
    background: #92a6be;
    color: #24354a;
}

/* PREFERENCES WINDOW INPUT FIELDS */
.preferences__preference-item-input-box, .preferences__preference-input {
    background: #838db0;
    border: none;
    color: #fff;
    outline: none;
    padding: 5px 8px;
}

/* STATUS SELECTOR DROPDOWN */
.modal__welcome .chat__dropdown ul, .chat__dropdown ul {
    background: #6e7c94;
    color: #cae4f5;
    box-shadow: 0px 16px 47px -15px rgba(0, 0, 0, 0.48);
    border-radius: 10px;
}

/* └ STATUS SELECTOR - dropdown height */
.chat__dropdown.chat__dropdown__active ul {
    max-height: 180px;
}

/* └ STATUS SELECTOR - dropdown items */
.chat__dropdown ul li {
    padding: 6px 10px;
}

/* └ STATUS SELECTOR - dropdown items hover */
.chat__dropdown ul li:hover {
    background: #7c89a1;
}

/* └ STATUS SELECTOR - dropdown item selected */
.chat__dropdown ul li.chat__dropdown__selected {
    background: #8698b6;
}

/* └ STATUS SELECTOR - dropdown - STATUS DOTS: */
/*   └ 0. green    */
.chat__dropdown__status.chat__dropdown__status-available:before {
    background: #63d9b0;
}

/*   └ 1. blue    */
.chat__dropdown__status.chat__dropdown__status-reserve:before {
    background: #31bbda;
}

/*   └ 2. yellow    */
.chat__dropdown__status.chat__dropdown__status-busy:before {
    background: #f3cb47;
}

/*   └ 3. red    */
.chat__dropdown__status.chat__dropdown__status-unavailable:before {
    background: #f06060;
}

textarea[data-txt_gramm_id="2bc8d354-0cdf-b4fb-dec3-d2960b2f131b"] {
    outline: none;
    border: none;
    box-shadow: none;
}

/* ------------------ END MODAL WINDOW ------------------ */


/* HAPPYCHAT NETWORK STATUS NOTICES */
.notices__notice-type-warning {
    background: #ffcd45;
    color: rgba(0,0,0,0.8);
    box-shadow: 0px 16px 60px -17px #ffcd45;
}

/* HAPPYCHAT NETWORK STATUS NOTICES: links */
.notices__notice-content a {
    color: rgba(0,0,0,0.5);
}

.chat__message {
    margin: 15px auto;
    padding: 0 10px;
}

.chat__message__type-event:not(.chat__message__type-note) {
    opacity: 0.4;
    transition: all .1s ease;
}

.chat__message__type-event:not(.chat__message__type-note):hover {
    opacity: 0.9;
}

.chat__message__type-event.chat__message__type-chat-close, .chat__message__type-event.chat__message__type-error, .chat__message__type-event.chat__message__type-tagged, .chat__message.chat__message__type-event.chat__message__type-attempt-on-closed.chat__message__type-message-on-closed {
    opacity: 1;
}

.chat__message.chat__message__type-event.chat__message__type-attempt-on-closed.chat__message__type-message-on-closed .chat__message__text {
    background: rgba(125, 134, 161, 0.3);
}

.modal__preferences .modal__dialog {
    height: 70%;
    overflow-y: auto;
    border-radius: 20px;
}

/*input, textarea {
    border-radius: 10px;
}*/

/*.chat__current-chat__actions {
    margin: 0 20px 20px 20px;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
    height: 100vh !important;
}

.chat__current-chat__messages {
    overflow: visible;
}*/

.chat-actions__current-chat-action-compose>textarea {
    font-size: 13.5px !important;
}

@media screen and (min-width: 1300px) and (max-width: 1460px) {
    .chat__message.chat__message__from-user {
        margin-right: 10%;
        margin-left: 0;
    }
    
    .chat__message.chat__message__from-bot, .chat__message.chat__message__from-operator, .chat__message.chat__message__type-note {
        margin-left: 10%;
        margin-right: 0;
    }
}

/* I8N update */
.chat__message.chat__message--with-translation .chat__message__text {
    border-radius: 0 0 34px 0;
}

.chat__message__expand-source-text {
    background: #6b728d;
    color: #b5b9c9;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 0;
    border-radius: 34px 34px 0 0;
}

.chat__message.chat__message--with-translation .chat__message__text.chat__message__text--source {
    background: #6b728d;
    color: #dce0ef;
    font-weight: 600;
    text-transform: none;
    border-radius: 34px 34px 0 0;
}

.chat__message.chat__message--with-translation .chat__message__collapse-source-icon {
    right: 20px;
    color: #c5c9db;
    transform: rotate(180deg);
}

.autotranslate-button {
    background: #b0c7d6;
    border-radius: 5px;
}

.chat-panel__return-to-now {
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    bottom: 35px;
    left: 15%;
    right: 15%;
    min-width: 305px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0px 8px 50px -8px #bcc8ce;
    transition: background .25s ease;
}

.chat-panel__return-to-now:hover {
    text-decoration: none;
    background: #c6cfd7;
}

.chat-panel__return-to-now.has-unread-messages {
    background: #26b6c3;
    right: auto;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    bottom: 35px;
    left: 35px;
    box-shadow: 0px 8px 50px -8px #26b6c3;
}
